header {
    width:100%;
	min-width:400px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom: 0px;
	background-color:white;
	padding:10px;
    border: none;
    position: fixed;
    z-index: 99;
}
.picture {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 70%;
    height: auto;
    position: relative;z-index: 1;
}
.picture1 {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 70%;
    height: auto;
    position: relative;z-index: 1;
}
.picture2 {
    margin-top: 5px;
}
.picture1:hover{
    transform: scale(1.025);
}
li{
    display: inline;
    margin-left: 40px;
}
.header {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: black;
    text-decoration: none;
    margin-right: 25px;
}
.header:hover {
    color: #7cebd8;
    font-style: italic;
}
main, footer {
    border: none;
}
section.kezdolap {
    display: block;
    padding-top: 1px;
    width: 100%;
    height: 100vh;
    background-image: url('kepek/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.cover0 {
    font-family: Impact;
    text-align: center;
    color: white;
    font-size: 150px;
    margin-top: 330px;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: normal;
}
.cover1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: normal;
}
@media screen and (max-height: 800px) 
{
    .cover0 {
        font-family: Impact;
        text-align: center;
        color: white;
        font-size: 150px;
        margin-top: 250px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
        line-height: normal;
    }
}
@media screen and (max-height: 600px) 
{
    .cover0 {
        font-family: Impact;
        text-align: center;
        color: white;
        font-size: 150px;
        margin-top: 180px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
        line-height: normal;
    }
}
@media screen and (max-height: 500px) 
{
    .cover0 {
        font-family: Impact;
        text-align: center;
        color: white;
        font-size: 150px;
        margin-top: 100px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
        line-height: normal;
    }
}
@media screen and (max-width: 913px) 
{
    .cover0 {
        font-family: Impact;
        text-align: center;
        color: white;
        font-size: 125px;
        margin-top: 180px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
        line-height: normal;
    }
    .cover1 {
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 0px;
        margin-bottom: 10px;
        line-height: normal;
    }
}
@media screen and (max-width: 600px) 
{
    .cover0 {
        font-family: Impact;
        text-align: center;
        color: white;
        font-size: 100px;
        margin-top: 220px;
        margin-bottom: 10px;
        font-weight: bold;
        font-style: italic;
        line-height: normal;
    }
    .cover1 {
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 0px;
        margin-bottom: 10px;
        line-height: normal;
    }
}
.kozep{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-family: Impact;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-style: italic;
}
nav#tartalomraugras a {
	position: absolute;
	left: -9999px;
}
nav#tartalomraugras a:focus {
	position: static;
	background-color: white;
}
.rejtett {
	position: absolute;
	left: -9999px;
}
.hasab {
	column-count: 2;
}
.hasab1 {
	column-count: 2;
}
@media screen and (max-width: 990px) 
{
    .hasab {
        column-count: 1;
    }
    .kozep{
        position: relative;
        width: 100%;
        text-align: center;
    }
    .header {
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        color: black;
        text-decoration: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .picture2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
        height: auto;
        margin-top: 15px;
    }
}
@media screen and (max-width: 1450px)
{
    .hasab1{
        column-count: 1;
    }
}
section#rolunk {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F6E0E7;
}
div.rolunk{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 992px) 
{
    div.rolunk{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
.text{
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 23px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif
}
section#termekek {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FCF1ED;
}
div.termekek{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.termek {
    margin-top: 18px;
    margin-left: 25px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
}
.pite {
    text-align: left;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.cim {
    text-align: left;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0px;
}
table{
    margin-top: 15px;
    margin-bottom: 10px;
}
.menu{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
section#ebed {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}
div.ebed{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.hetfo {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.hetfo1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}
tr, td {
    border-radius: 10px;
}
.hetfo_sor {
    font-size: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    background-color: #C2EADD;
}
.kedd_sor {
    font-size: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    background-color: #FFF689;
}
.szerda_sor {
    font-size: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    background-color: #ECA283;
}
.csutortok_sor {
    font-size: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    background-color: #BB999C;
}
.pentek_sor {
    font-size: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    background-color: #9999C3;
}
@media screen and (max-width: 992px)
{
    div.ebed{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .menu{
        width: 85%;
    }
}
section#foglalas {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E4D9FF;
}
div.foglalas{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
label#k1 {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
label#k2 {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.gomb1 {
    margin-top: 15px;
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: #AFFC41;
    border-radius: 15px;
}
.gomb1:hover{
    transform: scale(1.025);
    box-shadow: #477902 0px 7px 10px inset;
}
.gomb2 {
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    background-color: #eaeaea;
}
.gomb2:hover{
    transform: scale(1.025);
    box-shadow: #c6c6c6 0px 7px 10px inset;
}
.form {
    background-color: #533A71;
    color: white;
    padding-bottom: 35px;
    border-radius: 45px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}@media screen and (max-width: 1100px)
{
    .form {
        background-color: #533A71;
        padding-bottom: 35px;
        border-radius: 45px;
        width: 92%;
    }
}
@media screen and (max-width: 992px)
{
    div.foglalas{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    iframe {
        width: 352px;
        height: 264px;
    }
}
section#kapcsolat {
    padding-top: 100px;
    padding-bottom: 550px;
    background-color: #415D43;
    color: white;
}
.kapcsolatok_tab {
    width: 50%;
    float: left;
}
.terkep {
    width: 50%;
    float: left;
}
@media screen and (max-width: 1739px)
{
    section#kapcsolat {
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: #415D43;
        color: white;
        align-content: center;
    }
    .kapcsolatok_tab {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .terkep {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}
div.kapcsolat{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.kapcs {
    text-align: left;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.kapcs_link {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.kapcs_link:hover{
    color: #EF3E36;
}
@media screen and (max-width: 450px) 
{
    .cover0 {
        font-family: Impact;
        text-align: center;
        color: white;
        font-size: 105px;
        margin-top: 220px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
        line-height: normal;
    }
    .cover1 {
        color: white;
        text-align: center;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 0px;
        margin-bottom: 10px;
        line-height: normal;
    }
    .text{
        margin-top: 40px;
        margin-left: 25px;
        margin-right: 25px;
        font-size: 18px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif
    }
    h1 {
        text-align: center;
        font-weight: bold;
        font-family: Impact;
        font-size: 55px;
        margin-top: 0px;
        margin-bottom: 40px;
        font-style: italic;
    }
    .termek {
        margin-top: 18px;
        margin-left: 25px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        line-height: normal;
    }
    .pite {
        text-align: left;
        font-size: 13px;
        font-family: 'Times New Roman', Times, serif;
    }
    .cim {
        text-align: left;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 0px;
    }
    .hetfo {
        font-style: italic;
        font-weight: bold;
        text-align: center;
        font-size: 17px;
    }
    .hetfo_sor {
        font-size: 15px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        line-height: normal;
        background-color: #C2EADD;
    }
    .kedd_sor {
        font-size: 15px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        line-height: normal;
        background-color: #FFF689;
    }
    .szerda_sor {
        font-size: 15px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        line-height: normal;
        background-color: #ECA283;
    }
    .csutortok_sor {
        font-size: 15px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        line-height: normal;
        background-color: #BB999C;
    }
    .pentek_sor {
        font-size: 15px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        line-height: normal;
        background-color: #9999C3;
    }
    .kapcs {
        text-align: left;
        font-size: 13px;
        font-family: 'Times New Roman', Times, serif;
    }
    .kapcs_link {
        text-decoration: none;
        text-align: center;
        font-size: 13px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
}