header {
    width:100%;
	min-width:400px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom: 0px;
	background-color:white;
	padding:10px;
    border: none;
    position: fixed;
    z-index: 99;
}
.picture {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 70%;
    height: auto;
}
li{
    display: inline;
    margin-left: 40px;
}
li#a {
    margin-top: 100px;
}
.header {
    font-family: "Brush Script MT", cursive;
    font-size: x-large;
    color: black;
    text-decoration: none;
}
main, footer {
    border: none;
}
section.kezdolap {
    display: block;
    padding-top: 1px;
    width: 100%;
    height: 100vh;
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.cover0 {
    font-family: Impact;
    text-align: center;
    color: white;
    font-size: 150px;
    margin-top: 300px;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: normal;
}
.cover1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: normal;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-family: Impact;
    font-size: 85px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-style: italic;
}
.hasab {
	column-count: 2;
}
@media screen and (max-width: 992px) 
{
    .hasab {
        column-count: 1;
    }
}
section#rolunk {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: antiquewhite;
}
div.rolunk{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.text{
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 23px;
    text-align: justify;
    font-family: "Brush Script MT", cursive;
}
section#termekek {
    padding-top: 100px;
    padding-bottom: 100px;
}
div.termekek{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.termek {
    margin-top: 18px;
    margin-left: 25px;
    font-size: 25px;
    font-family: "Brush Script MT", cursive;
    line-height: normal;
}
.pite {
    text-align: left;
    font-size: 18px;
    font-family: "Brush Script MT", cursive;
}
.cim {
    text-align: left;
    font-size: 35px;
    font-family: "Brush Script MT", cursive;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0px;
}
table{
    margin-top: 15px;
}
